extends layout

block content
  h1= title
  p Welcome to #{title}

  ul#resources
    li#resource ubuntu-14.04.2-desktop-amd64.iso: 
      span#1b305d585b1918f297164add46784116.resource_link download
    li#resource debian-7.8.0-amd64-i386-netinst.iso: 
      span#0db391f587a4610373fbb714c05d2456.resource_link download
