extends layout

block content
  h1= title
  p Welcome to #{title}

  ul#resources
    li#resource ubuntu-14.04.2-desktop-amd64.iso: 
      span#1b305d585b1918f297164add46784116.resource_link download
